.container {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;

}


#heading {
	color: #11497B;
	padding-left: 40px;
	text-shadow: 2px 2px lightblue;
	font-style: italic;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.subHeading {
	font-weight: 600;
}

.desc {
	color: grey;
}

.photos {
	width: 90%;
	box-shadow: 10px 10px 5px #888888;
}

.dataTables_paginate {
    float: left !important;
    margin-top: -12px;
    margin-left: 20px;   
}

 @media (max-width: 998px) {
 	.dataTables_paginate {
    	margin-top: 0px;
    	margin-left: -18px;
    	font-size: 12px;
}
    	

}
